body {
  margin: 0;
  font-family: monospace;
  color: white;
  font-weight: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

/* Login Styling */
.loginMainContainer {
  margin: auto;
  width: 500px;
  height: max-content;
  margin-top: 20vh;
  border: 1px solid rgb(88, 88, 88);
}
.createAccountButton {
  text-align: center;
  box-sizing: border-box;
  height: 60px;
  padding-top: 20px;
  cursor: pointer;
  flex: 1;
  border: 0px;
}
.createAccountButton:hover {
  background-color: white;
  color: black;
}
.LogInButton {
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
  cursor: pointer;
  height: 60px;
  width: 50%;
  border: 0px;
  border-left: 1px solid rgb(88, 88, 88);
}
.LogInButton:hover {
  background-color: white;
  color: black;
}
.loginLogoImage {
  width: 460px;
  height: 80px;
  filter: invert(1);
  margin: 20px;
}
.usernameInput {
  padding: 10px;
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  font-size: 17px;
  height: 60px;
  border: 0px;
  border-top: 1px solid rgb(88, 88, 88);
  border-bottom: 1px solid rgb(88, 88, 88);
}
.usernameInputError {
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  font-size: 17px;
  padding: 10px;
  height: 60px;
  border: 0px;
  border-top: 1px solid rgb(88, 88, 88);
  border-bottom: 1px solid rgb(88, 88, 88);
}
.usernameInputError::placeholder {
  color: #ff0000;
}
.passwordInput {
  padding: 10px;
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  font-size: 17px;
  height: 60px;
  border: 0px;
  color: white;
  border-bottom: 1px solid rgb(88, 88, 88);
}
.passwordInputError {
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  font-size: 17px;
  height: 60px;
  padding: 10px;
  border: 0px;
  color: white;
  border-bottom: 1px solid rgb(88, 88, 88);
}
.passwordInputError::placeholder {
  color: #ff0000;
}
/* Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  height: 70px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid rgb(88, 88, 88);
}
.logoImage {
  width: 230px;
  height: 40px;
  margin: 15px;
  filter: invert();
}
.userDownArrowImage {
  width: 14px;
  height: 14px;
  margin: 17px;
  margin-top: 28px;
  margin-left: 10px;
  cursor: pointer;
}
.userAccountDropdownOptionText {
  font-size: 14px;
  font-weight: 100;
  margin: 25px;
  cursor: pointer;
}
.userAccountDropdownContainer {
  background-color: #000000;
  display: flex;
  height: max-content;
  width: 170px;
  box-sizing: border-box;
  flex-direction: column;
  border-bottom: 1px solid rgb(88, 88, 88);
  border-left: 1px solid rgb(88, 88, 88);
  z-index: 1000;
}
.profilePictureImage {
  width: 40px;
  height: 40px;
  margin: 14px;
  margin-right: 0px;
}
.userAccountDropdownNameArrowContainer {
  display: flex;
}
.userAccountContainer {
  border-left: 1px solid rgb(88, 88, 88);
  display: flex;
  padding-left: 10px;
}
.usernameText {
  margin: 25px;
  margin-right: 6px;
  font-size: 17px;
  font-weight: 100;
}
/* Sidebar Styling */
.sidebar {
  float: left;
  width: 250px;

  background-color: #000000;
  height: calc(100vh - 70px);
}
.sidebarMenuContainer {
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid rgb(88, 88, 88);
  height: 60px;
}
.sidebarMenuContainer:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.sidebarMenuText {
  margin: auto;
  font-size: 20px;
  width: max-content;

  font-size: 17px;
  font-weight: 100;
}
/* Content Styling */
.content {
  float: left;

  box-sizing: border-box;
  height: calc(100vh - 70px);
  width: calc(100vw - 250px);
  border-left: 1px solid rgb(88, 88, 88);
  background-color: rgb(0, 0, 0);
}
.myListsSeachSortContainer {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(88, 88, 88);
  height: 40px;
  width: 100%;
  display: flex;
  background-color: rgba(4, 4, 4, 0);
  justify-content: space-between;
}
.searchBarInput {
  height: 37px;
  background-color: black;
  color: white;
  border: #000000;
  font-size: 15px;
  flex: 1;

  max-width: 400px;
  flex-shrink: 1;
  border-right: 1px solid rgb(88, 88, 88);
}
.searchBarButton {
  height: 37px;
  display: flex;
  justify-content: center;

  background-color: black;
  border-right: 1px solid rgb(88, 88, 88);
  width: 100px;
  cursor: pointer;
}
.searchBarContainer {
  display: flex;
  flex: 1;
}
.searchBarButtonText {
  font-weight: 100;
  font-size: 14px;
}
.individualListContainer {
  width: 25%;
  flex-shrink: 0;
  height: 500px;

  padding: 12px;
  box-sizing: border-box;
  border-right: 1px solid rgb(88, 88, 88);
  border-bottom: 1px solid rgb(88, 88, 88);
  background-color: #000000;
  overflow: hidden;
}
.individualListImage {
  width: 100%;
  height: 370px;
  object-fit: cover;
}
.individualListTitleText {
  font-weight: 100;
  font-size: 15px;
}
.individualListDescriptionText {
  font-size: 10px;
  font-weight: 100;
}
.individualListDateText {
  text-align: end;
  font-size: 10px;
  font-weight: 100;
}
.myListsMainContainer {
  width: 100%;
  height: 100%;
  display: flex;
}
.sortContainer {
  display: flex;
  flex-shrink: 0;
  border-left: 1px solid rgb(88, 88, 88);
  padding-left: 20px;
}
.sortText {
  font-weight: 100;
  font-size: 14px;
}
.sortdownArrowImage {
  width: 12px;
  height: 12px;
  margin: 14px;
  cursor: pointer;
}
.sortDropdownContainer {
  background-color: #000000;
  display: flex;
  height: 300px;

  width: 120px;
  box-sizing: border-box;
  flex-direction: column;
  border-bottom: 1px solid rgb(88, 88, 88);
  border-left: 1px solid rgb(88, 88, 88);
  z-index: 1000;
}
.sortDropdownTextArrowContainer {
  margin: 0px;
  margin-left: 20px;
  display: flex;
}
.sortDropdownOptionText {
  font-size: 14px;
  font-weight: 100;
  margin: auto;
  margin-left: 20px;
  cursor: pointer;
}
.openListInformationContainer {
  box-sizing: border-box;
  display: flex;
  position: relative;
  border-bottom: 1px solid rgb(88, 88, 88);
  height: 300px;
  padding: 20px;
  padding-right: 100px;
}
.openListLikeButton {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.openListLikeButtonHeart {
  margin: 10px;
  cursor: pointer;
  font-size: 40px;
}
.openListLikeButtonAmount {
  margin: 21px;
  margin-left: 0px;

  font-size: 19px;
}
.openListTitle {
  margin-left: 30px;
  font-weight: 100;
}
.openListDescription {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 100;
}
.openListData {
  margin-left: 30px;
  font-weight: 100;
  font-size: 15px;
}
.openListImage {
  width: 200px;
  height: 200px;
}
.listTable {
  width: 100%;
  height: 100%;
}
table {
  border-collapse: collapse;
  overflow: hidden;

  width: 100%;
  overflow-x: auto;
  height: 200px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid rgb(88, 88, 88);
  flex: 1;
}

thead,
tbody,
tfoot {
  display: flex;
  flex-direction: column;
}

tbody {
  height: calc(100vh - 410px);
  overflow-y: auto;
}

tr {
  display: flex;
  flex: 1 0;
}

tbody::-webkit-scrollbar {
  display: none;
}
